﻿<footer id="footer" class="page-footer">
    <div class="padding bg-dark b-t">
        <div class="page-container">
            <div class="py-5 text-inherit text-hover-primary">
                <div class="row mb-5">
                    <div class="col-6 col-md-4">
                        <div class="mb-3">
                            <a asp-controller="Default" asp-action="Index" class="navbar-brand text-white">
                                <svg width="48" height="48" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="none">
                                    <circle cx="12" cy="12" r="10" stroke="currentColor" stroke-width="1" fill="#000"></circle>
                                    <circle cx="12" cy="12" r="2" stroke="currentColor" stroke-width="1"></circle>
                                    <g class="loading-spin" stroke="currentColor" stroke-width="1" style="transform-origin: 12px 12px">
                                        <path d="M16.24 7.76a6 6 0 0 1 0 8.49m-8.48-.01a6 6 0 0 1 0-8.49m11.31-2.82a10 10 0 0 1 0 14.14m-14.14 0a10 10 0 0 1 0-14.14"></path>
                                    </g>
                                </svg>
                                <span class="hidden-folded d-inline l-s-n-1x ">Bepop</span>
                            </a>
                        </div>
                        <div class="px-1">
                            <div class="dropdown mt-5 ml-md-5">
                                <button class="btn w-sm btn-dark text-align-auto b-a sorting" data-toggle="dropdown">Türkçe</button>
                                <div class="dropdown-menu">
                                    <a href="#" class="dropdown-item">Türkçe</a>
                                    <a href="#" class="dropdown-item">English</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-2">
                        <h5 class="mb-3 text-muted">Sayfalar</h5>
                        <ul class="list-unstyled l-h-2x text-highlight">
                            <li><a asp-controller="Artist" asp-action="Index">Sanatçılar</a></li>
                            <li><a asp-controller="Chart" asp-action="Index">Listeler</a></li>
                            <li><a asp-controller="Genre" asp-action="Index">Türler</a></li>
                            <li><a href="#">Hakkımızda</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a asp-controller="Login" asp-action="Index">Giriş Yap</a></li>
                            <li><a asp-controller="Register" asp-action="Index">Kayıt Ol</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-md-2">
                        <h5 class="mb-3 text-muted">Hesabım</h5>
                        <ul class="list-unstyled l-h-2x text-highlight">
                            <li><a href="#">Profil</a></li>
                            <li><a href="#">Albümler</a></li>
                            <li><a href="#">Şarkılar</a></li>
                            <li><a href="#">Çalma Listeleri</a></li>
                            <li><a href="#">Beğenilenler</a></li>
                            <li><a href="#">Takip Edilenler</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-md-2">
                        <h5 class="mb-3 text-muted">Yardım</h5>
                        <ul class="list-unstyled l-h-2x text-highlight">
                            <li><a href="#">Dokümantasyon</a></li>
                            <li><a href="#">Değişiklik Günlüğü</a></li>
                            <li><a href="#">Güncelleme</a></li>
                        </ul>
                    </div>
                </div>
                <div class="text-center py-5">
                    <span class="text-muted text-sm">&copy; Copyright. Bepop - Müzik Web Uygulaması, Tüm hakları saklıdır.</span>
                </div>
            </div>
        </div>
    </div>
</footer>