﻿
<head>
    <meta charset="utf-8" />
    <title>Bepop - Music Web Application</title>
    <meta name="description" content="Responsive, Bootstrap, BS4" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="~/Bepop/libs/slick-carousel/slick/slick.css" type="text/css" />
    <link rel="stylesheet" href="~/Bepop/libs/slick-carousel/slick/slick-theme.css" type="text/css" />
    <link rel="stylesheet" href="~/Bepop/assets/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="~/Bepop/assets/css/theme.css" type="text/css" />
    <link rel="stylesheet" href="~/Bepop/assets/css/style.css" type="text/css" />
</head>